@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    color: white;
    background-color: black;
    font-family: 'Libre Franklin', sans-serif;
}
html{
    overflow-x: hidden;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}
header{
    
    padding: 10px;
}
.header-container{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 80px;
    margin-top: 20px;
    font-weight: normal;
    
}
.paragrafo-reader{
    color: #f4cf0a;
}
.container-principal{
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.menu{
    
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.nav-menu{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    font-weight: 400;
}
a{
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    text-decoration: none;
}

.link-reader{
    color: white;
}
.link-reader:hover{
    color: #f4cf0a;
    transition: 1s;
}
.link-github{

    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 12px;
    border-radius: 25px;
    text-decoration: none;
    color: #f4cf0a;
    background-color: rgb(86 86 86 / 75%);
}
.link-github:hover{
    color: #f4d10ac9;
    background-color: rgba(74, 74, 74, 0.75);;
    transition: 1s;
}
.container-conteudo{
    height: auto;
    margin-top: 70px;
}
.conteudo{
    
    margin-top: 50px;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.conteudo-img{
    
    margin-top: 20px;
    animation: move 1s infinite alternate;
}
.conteudo > p {
    line-height: 1.5;
    font-size: medium;
    margin: 25px;
}
.conteudo > p > span{
    color: #f4d10ac9;
}
.container-caixa{
    margin-top: 10%;
    margin-bottom: 8%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.caixa-project{

    background-color: rgba(84, 83, 83, 0.291);
    height: 370px; 
    width: 300px;
    border-radius: 16px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.caixa-project:hover{
    transition: 0.3s;
    box-shadow: 0.5px 2px 2px 2px rgb(80, 61, 80);

}
.div-img{
    overflow: hidden;
    height: 145px;
    width: 300px;
    background-color: rgb(43, 48, 53);
}
.div-img > img{
    width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.div-img > img:hover{
    
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}
.bklnm{
    overflow: hidden;
    height: 150px;
    width: 300px;
    background-color: rgb(43, 48, 53);
}
.lmkda{
    position: absolute;
    right: 0px;
    top: 16px;
    padding: 0px 16px;
    height: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 999;
}
.tech{
    background-color: rgba(84,84,84,0.75);;
    padding: 5px 15px;
    margin-bottom: 5px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    color: var(--white);
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
}
.blsder{
    position: absolute;
    top: 16px;
    padding: 0px 10px;
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 999;
}
.cvdrt{
    background-color: #47ade1;
    padding: 6px 16px;
    font-size: 11px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.dradl{
    margin-top: 10px;
    color: white;
    text-align: center;
    width: 100%;
    padding: 0px 16px;
}
.dradl p{
    margin-top: 10px;
}
.dradl > p >.cxsd{
    color: #f4cf0a;
}
.drwap{
    text-decoration: none;
    cursor: pointer;
}
button{
    appearance: none;
    border: none;
}
.bto-detalhes{
    width: 80%;
    height: 46px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background: purple;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.25s ease 0s;
}
.bto-detalhes:hover{
    width: 85%;
    transition: 0.3s;
}
.nbvki{
    height: auto;
    padding: 30px 100px;
    background-color: #1a1c1f;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.fsdr i{
    color:rgb(124, 121, 121) ;
    font-size: 24px;
}
.bx:hover{
    color: #f4cf0a;
    transition: 0.3s;
}
.nklos{
    font-size: 10px;
    font-weight: bold;
    color: white;
}
.fsdr{
    display: flex;
    align-items: center;
    
}
.paragrafo-footer{
    color: #f4cf0a;
}
@keyframes move {
    from {
        transform: translateY(10px)
    }
    to {
        transform: translateY(-10px)
    }
}
@media screen and (max-width: 768px){
    .header-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container-principal{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .nav-menu{
        margin-top: 30px;
        flex-direction: column;
    }
    .conteudo{
        font-size: 13px;
        flex-direction: column;
    }
    .conteudo-img{
        
        height: 250px;
        width: 250px;
        flex-direction: column;
    }
    .nbvki{
        height: auto;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .fsdr{
        flex-direction: column;
    }
}
